body {
	background-color: #c4c4c4;
}
.page {
	display: block;
	background-color: #fff;
	
	width: 816px;
	height: 1056px;
	margin-left: auto;
	margin-right: auto;
}
.inner-page {
	font-family: Courier;
	font-size: 12pt;
	width: 624px;
	height: 960px;
	outline: none;
	resize: none;
	border: 0;
	display:block;
	margin: auto;
	padding-top:96px;
	padding-bottom: 96px;
	overflow:hidden;

}
.scene-heading {
	background-color: #c4c4c4;
	margin-left: 34.5px;
	text-transform: uppercase;
}
.action {
	margin-left: 34.5px;
}
.character {
	margin-left: 289.8px;
	text-transform: uppercase;
}
.parenthetical {
	margin-left: 248.4px;
	margin-right: 200.1px;
}
.speech {
	margin-left: 200.1px;
	margin-right: 158.7px;
}
p {
	margin-bottom: 4.3125px;
}